<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lu.smartledger.mapper.BillsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="lu.smartledger.model.domain.Bills">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="account_id" property="accountId" />
        <result column="amount" property="amount" />
        <result column="bill_type" property="billType" />
        <result column="category_id" property="categoryId" />
        <result column="occur_time" property="occurTime" />
        <result column="source" property="source" />
        <result column="import_record_id" property="importRecordId" />
        <result column="remark" property="remark" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="income_source" property="incomeSource" />
        <result column="expense_method" property="expenseMethod" />
        <result column="consumption_attribute" property="consumptionAttribute" />
        <result column="pre_decision_advice" property="preDecisionAdvice" />
        <result column="anomaly_score" property="anomalyScore" />
        <result column="anomaly_type" property="anomalyType" />
        <result column="anomaly_reason" property="anomalyReason" />
        <result column="is_abnormal" property="is_abnormal"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, account_id, amount, bill_type, category_id, occur_time, source, import_record_id, remark, created_at, updated_at, income_source, expense_method, consumption_attribute, pre_decision_advice, anomaly_score, anomaly_type, anomaly_reason,is_abnormal
    </sql>

</mapper>
