<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lu.smartledger.mapper.CategoriesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="lu.smartledger.model.domain.Categories">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="is_default" property="isDefault" />
        <result column="created_at" property="createdAt" />
        <result column="default_attribute" property="defaultAttribute" />
        <result column="default_type" property="defaultType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, is_default, created_at, default_attribute, default_type
    </sql>

</mapper>
